<style type="text/css">
    .manage-nav{
        margin: 0;
        padding: 0;
        background-color: #c5cae9;
        overflow: auto;
    }
    .manage-nav li{
        float: left;
        padding: 5px;
        text-align: center;
        list-style: none;
        color: rgba(0, 0, 0, 0.87);
    }
    .manage-nav .nav-item{
        background-color:transparent;
        color:rgba(0, 0, 0, 0.87);
    }
    .manage-nav .nav-item:hover{
        /*background-color: #fff;*/
        color: rgba(0,0,0,0.56);
    }
    .manage-nav .nav-active{
        position: relative;
    }
    .manage-nav .nav-active::before{
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-bottom: 6px solid #fff;
        position: absolute;
        content: '';
        bottom: 0%;
        left: 49%;
    }
    .page-view{
        padding: 20px;
    }
</style>
<script type="text/javascript">
    $(function(){
        $('.manage-nav .nav-item').click(function(){
            $('.manage-nav .nav-active').removeClass('nav-active');
            $(this).addClass('nav-active');
        });
    });

</script>

<ul class="manage-nav">
    <li class="col-md-2"><i class="glyphicon glyphicon-home"></i>商品管理</li>
    <li class="col-md-2 nav-item nav-active">添加商品</li>
    <li class="col-md-2 nav-item">下架商品</li>
    <li class="col-md-2 nav-item">查询商品</li>
    <li class="col-md-2 nav-item">商品设置</li>
</ul>
